:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #222;

  --header-info-height: 58px;
  --header-navbar-height: 80px;
  --header-search-height: 66px;
  --header-navbar-transition-time: 0.18s;

  --header-search-panel-location-width: 500px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6rem;
  font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}