:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #222;

  --header-info-height: 56px;
  --header-navbar-height: 80px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6rem;
  font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;
}
