.header {
  position: relative;
}

.header__info {
  text-align: center;
  background-color: var(--text-color);
  height: var(--header-info-height);
}

.header__info-link {
  font-size: 1.4rem;
  color: #a3a3a3;
  line-height: var(--header-info-height);
  font-weight: 500;
}

/*Header navigation bar */
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: var(--header-info-height);
  left: 0;
  right: 0;
  height: var(--header-navbar-height);
  padding: 0 80px;
}

.header__navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 140%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.4;
}

.header__navbar-logo {
  flex: 1;
}

.header__navbar-list {
  display: flex;
  flex: 1;
  list-style: none;
  padding-left: 0;
}

.header__navbar-list--text-right {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-item--hover:hover {
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}

.header__navbar-mid-item,
.header__navbar-right-item {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 0 16px;
  cursor: pointer;
}

/* Transition when hover*/
.header__navbar-mid-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header__navbar-mid-item:hover {
  color: rgba(255, 255, 255, 0.75);
}

.header__navbar-mid-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s ease;
}

.header__navbar-mid-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s linear;
}

.header__navbar-mid-item:hover::after {
  width: 2px;
}

.header__navbar-mid-item:hover::before {
  width: 2px;
}

.header__navbar-mid-item.header__navbar-mid-item--active::before,
.header__navbar-mid-item.header__navbar-mid-item--active::after {
  width: 10px;
}

.header__navbar-list--text-center {
  align-items: center;
  justify-content: center;
}

.header__navbar-right-item {
  padding: 0 12px;
}

.header__navbar-right-item:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.header-navbar-menu {
  display: flex;
  align-items: center;
  height: 42px;
  width: 77px;
  background-color: var(--white-color);
  border-radius: 40px;
  cursor: pointer;
}

i.header-navbar-menu__menu-icon {
  flex: 1;
  color: #717171;
  font-size: 1.6rem;
  text-align: center;
  margin-left: 4px;
}

i.header-navbar-menu__user-icon {
  flex: 1;
  color: #717171;
  font-size: 2.8rem;
  margin-left: 4px;
}

.header__navbar-link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.header-navbar-options {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  z-index: 1;
  background-color: var(--white-color);
  min-width: 240px;
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#header__navbar-right-item-checkbox:checked ~ .header-navbar-options {
  display: block;
}

.header__navbar-right-item-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-navbar-options__auth,
.header-navbar-options__help {
  list-style: none;
  padding-left: 0;
}

.header-navbar-options__auth {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.header-navbar-options__help {
  padding-top: 8px;
}

.header-navbar-options__item {
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 1.4rem;
}

.header-navbar-options__item--bold {
  font-weight: 500;
}

.header-navbar-options__item:hover {
  background-color: #f7f7f7;
}

/* Header search */
.header__search {
  margin: var(--header-navbar-height) auto 0;
  max-width: 100%;
  width: 850px;
  height: 66px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
}

.header-search__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 32px;
  flex: 1.55;
  position: relative;
  cursor: pointer;
}

.header-search__location::after,
.header-search__room::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #ddd;
}

.header-search__heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 4px;
}

.header-search__input {
  border: none;
  font-size: 1.4rem;
  outline: none;
  padding: 0;
}

.header-search__room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
  padding: 15px 24px;
  cursor: pointer;
}

.header-search__desc {
  font-size: 1.4rem;
  margin: 0;
  color: #717171;
}

.header-search__customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1.5;
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.header-search__person {
  min-width: 115px;
  padding-right: 24px;
}

.header-search__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.header-search__item.header-search__item--no-border::after {
  display: none;
}

.header-search__item.header-search__item--active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: transparent;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.header-search__item:first-child.header-search__item--active::before {
  content: "";
  display: block;
  --border-width: 2px;
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: transparent;
  z-index: 1;
  border: var(--border-width) solid var(--black-color);
  pointer-events: none;
}

.header-search__btn {
  display: flex;
  align-items: center;
  margin: 9px;
  background-color: #ff385c;
  border-radius: 40px;
}

.header-search__btn-icon i {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white-color);
}

.header-search__btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.header-search__btn-label {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  height: 48px;
  width: 8px;
  line-height: 48px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: -8px;
  overflow: hidden;
  opacity: 0;
  transition: width 0.1s ease-in 0.05s, opacity 0.1s ease-in 0.05s;
}

.header-search__btn.header-search__btn--active {
  background-image: linear-gradient(to left, #da0965, #e51e50);
  background-color: transparent;
}

.header-search__btn.header-search__btn--active .header-search__btn-label {
  width: 88px; /* because negative margin */
  opacity: 1;
}

/* background img */
.header__background {
  overflow: hidden;
}

.header__background-img {
  position: absolute;
  top: var(--header-info-height);
  width: 100%;
  z-index: -2;
  object-fit: cover;
  object-position: center bottom;
  vertical-align: bottom;
  pointer-events: none;
}

.app-container {
  height: 100vh;
}
