.app {
  overflow: hidden;
}

.header {
  position: relative;
}

.header__info {
  text-align: center;
  background-color: var(--text-color);
  height: var(--header-info-height);
}

.header__info-link {
  font-size: 1.4rem;
  color: #a3a3a3;
  line-height: var(--header-info-height);
  font-weight: 500;
}

/*Header navigation bar */
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: var(--header-info-height);
  left: 0;
  right: 0;
  height: var(--header-navbar-height);
  padding: 0 80px;
}

.header__navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 140%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.4;
}

.header__navbar-logo {
  flex: 1;
}

.header__navbar-list {
  display: flex;
  flex: 1;
  list-style: none;
  padding-left: 0;
}

.header__navbar-list--text-right {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-item--hover:hover {
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}

.header__navbar-mid-item,
.header__navbar-right-item {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 0 16px;
  cursor: pointer;
}

/* Transition when hover*/
.header__navbar-mid-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header__navbar-mid-item:hover {
  color: rgba(255, 255, 255, 0.75);
}

.header__navbar-mid-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s ease;
}

.header__navbar-mid-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s linear;
}

.header__navbar-mid-item:hover::after {
  width: 2px;
}

.header__navbar-mid-item:hover::before {
  width: 2px;
}

.header__navbar-mid-item.header__navbar-mid-item--active::before,
.header__navbar-mid-item.header__navbar-mid-item--active::after {
  width: 10px;
}

.header__navbar-list--text-center {
  align-items: center;
  justify-content: center;
}

.header__navbar-right-item {
  padding: 0 12px;
}

.header__navbar-right-item:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.header-navbar-menu {
  display: flex;
  align-items: center;
  height: 42px;
  width: 77px;
  background-color: var(--white-color);
  border-radius: 40px;
  cursor: pointer;
}

i.header-navbar-menu__menu-icon {
  flex: 1;
  color: #717171;
  font-size: 1.6rem;
  text-align: center;
  margin-left: 4px;
}

i.header-navbar-menu__user-icon {
  flex: 1;
  color: #717171;
  font-size: 2.8rem;
  margin-left: 4px;
}

.header__navbar-link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.header-navbar-options {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  z-index: 2;
  background-color: var(--white-color);
  min-width: 240px;
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#header__navbar-right-item-checkbox:checked ~ .header-navbar-options {
  display: block;
}

.header__navbar-right-item-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-navbar-options__auth,
.header-navbar-options__help {
  list-style: none;
  padding-left: 0;
}

.header-navbar-options__auth {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.header-navbar-options__help {
  padding-top: 8px;
}

.header-navbar-options__item {
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 1.4rem;
}

.header-navbar-options__item--bold {
  font-weight: 500;
}

.header-navbar-options__item:hover {
  background-color: #f7f7f7;
}

/* Header search */
.header__search {
  margin: var(--header-navbar-height) auto 0;
  max-width: 100%;
  width: 850px;
  height: var(--header-search-height);
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
}

.header__search.header__search--active {
  background-color: #f7f7f7;
}

.header-search__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 15px 32px;
  flex: 1.55;
  position: relative;
  cursor: pointer;
}

.header-search__location::after,
.header-search__room::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #ddd;
}

.header-search__heading {
  margin: 0;
  padding-bottom: 4px;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-search__input {
  z-index: 1;
  border: none;
  font-size: 1.4rem;
  outline: none;
  padding: 0;
  background-color: inherit;
}

.header-search__room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  z-index: 1;
  position: relative;
  padding: 15px 24px;
  cursor: pointer;
}

.header-search__desc {
  display: block;
  margin: 0;
  z-index: 1;
  font-size: 1.4rem;
  color: #717171;
}

.header-search__desc.header-search__desc--disable {
  display: none;
}

.header-search__customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1.5;
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.header-search__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 128px;
  min-width: 0;
  padding-right: 0px;
  z-index: 1;
}

.header-search__person-container {
  min-width: 98px;
  max-width: 100%;
}

.header-search__person-number {
  display: block;
  margin: 0;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-search__person-number.header-search__person-number--disable {
  display: none;
}

.header-search__person-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #ebebeb;
  border-radius: 50%;
  margin-left: 4px;
}

.header-search__person-icon-container.header-search__person-icon-container--active {
  display: flex;
}

.header-search__person-icon-container:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.header-search__person-icon {
  font-size: 1.4rem;
}

.header-search__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.header-search__item.header-search__item--no-border::after {
  display: none;
}

.header-search__item.header-search__item--active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.header-search__item:first-child.header-search__item--active::before {
  content: "";
  display: block;
  --border-width: 2px;
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: var(--white-color);
  z-index: 1;
  border: var(--border-width) solid var(--black-color);
  pointer-events: none;
}

.header-search__btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 9px 9px 9px 12px;
  border-radius: 48px;
  overflow: hidden;
  background: #ff385c;
}

.header-search__btn--active .header-search__color {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  background-image: radial-gradient(
    rgba(255, 56, 92, 0.6),
    rgba(255, 56, 92, 0),
    rgba(255, 56, 92, 0)
  );
  border-radius: 50%;
}

.header-search__btn-icon i {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white-color);
}

.header-search__btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #ff385c;
  transition: all 0.2s ease;
}

.header-search__btn-label {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  height: 48px;
  width: 8px;
  line-height: 48px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: -8px;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  transition: width 0.1s ease-in 0.05s, opacity 0.1s ease-in 0.05s;
}

.header-search__btn-icon:hover {
  background: #e51e50 !important;
}

.header-search__btn--active .header-search__btn-icon:hover {
  background: unset !important;
}

.header-search__btn.header-search__btn--active {
  background-image: linear-gradient(to left, #da0965, #e51e50);
  background-color: transparent;
}

.header-search__btn.header-search__btn--active .header-search__btn-label {
  width: 88px; /* because negative margin */
  opacity: 1;
}

/* header search panel*/
.search-panel__location {
  display: none;
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  left: 0;
  padding: 30px 0;
  width: var(--header-search-panel-location-width);
  background: var(--white-color);
  border-radius: 32px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.search-panel__location.search-panel__location--active {
  display: block;
}

.search-panel__location-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px 32px 10px;
  margin: 0;
}

.search-panel__location-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 32px 0;
  padding: 0 24px;
  border-radius: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}

.search-panel__location-btn:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.search-panel__location-btn-heading {
  margin: 0;
  padding: 21px 0;
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(to right, #6f019c, #8a0193);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-panel__location-btn-video {
  height: 28px;
}

/* header search panel  calendar*/
.search-panel-calendar {
  display: none;
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  left: 0;
  right: 0;
  background-color: var(--white-color);
  padding: 32px 58px;
  border-radius: 32px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.search-panel-calendar.search-panel-calendar--active {
  display: block;
}

.search-panel-calendar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  font-size: 1.4rem;
}

.search-panel-calendar__header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 28px;
}

.search-panel-calendar__header-content {
  margin: 4px 4px;
  padding: 6px 14px;
  border-radius: 28px;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.search-panel-calendar__header-content:first-child {
  margin: 4px 2px 4px 4px;
}

.search-panel-calendar__header-content:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.search-panel-calendar__header-content.search-panel-calendar__header-content--active {
  background-color: var(--white-color);
  cursor: default;
}

.search-panel-calendar__body {
  position: relative;
  margin-top: 24px;
}

.search-panel-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  transform: translateY(-23%);
}

.search-panel-calendar__navigation-container-previous,
.search-panel-calendar__navigation-container-next {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.search-panel-calendar__navigation-container-previous:hover,
.search-panel-calendar__navigation-container-next:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.search-panel-calendar__navigation-icon {
  font-size: 1.2rem;
}

.search-panel-calendar__heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 15px;
}

.search-panel-calendar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.search-panel-calendar__item {
  font-size: 1.2rem;
  font-weight: 500;
  color: #717171;
}

.search-panel-calendar__days,
.search-panel-calendar__days-next {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-panel-calendar__days-empty {
  flex: 0 0 48px;
  height: 47px;
  cursor: default;
}

div.search-panel-calendar__days-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
  height: 47px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}
.search-panel-calendar__days-data.search-panel-calendar__days-data--active-second,
.search-panel-calendar__days-data.search-panel-calendar__days-data--active {
  background-color: var(--text-color);
  color: var(--white-color);
}

.search-panel-calendar__days-data:hover {
  border: 1px solid var(--text-color);
}

.search-panel-calendar__days-data.search-panel-calendar__days-data--disabled {
  color: #dadada;
  border: none;
  cursor: default;
}

.search-panel-calendar__footer {
}

.search-panel-calendar__footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 22px 0 0;
}

.search-panel-calendar__footer-item {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 10px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 36px;
  margin-right: 8px;
}

.search-panel-calendar__footer-item:hover {
  border-color: var(--black-color);
  cursor: pointer;
}

/* header search panel customer */
.search-panel-customer {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  right: 0;
  width: 394px;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.1s linear, opacity 0.1s linear;
}

.search-panel-customer.search-panel-customer--active {
  display: block;
}

.search-panel-customer__adult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;
}

.search-panel-customer__kid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;
}

.search-panel-customer__child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.search-panel-customer__heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 4px;
}

.search-panel-customer__desc {
  color: #717171;
  font-size: 1.4rem;
}

.search-panel-customer__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
}

.search-panel-customer__minus-icon {
  font-size: 1.2rem;
  color: #717171;
}

.search-panel-customer__num {
  font-size: 1.6rem;
  color: var(--text-color);
}

.search-panel-customer__minus,
.search-panel-customer__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
}

.search-panel-customer__minus:hover,
.search-panel-customer__plus:hover {
  border-color: var(--text-color);
}

.search-panel-customer__plus-icon {
  font-size: 1.2rem;
  color: #717171;
}

.search-panel-customer__plus:hover .search-panel-customer__plus-icon,
.search-panel-customer__minus:hover .search-panel-customer__minus-icon {
  color: var(--text-color);
}

.search-panel-customer__plus.search-panel-customer__btn--disable,
.search-panel-customer__minus.search-panel-customer__btn--disable {
  cursor: not-allowed;
  color: #ebebeb;
  border: 1px solid #ebebeb;
}

.search-panel-customer__plus.search-panel-customer__btn--disable
  .search-panel-customer__plus-icon,
.search-panel-customer__minus.search-panel-customer__btn--disable
  .search-panel-customer__minus-icon {
  color: #ebebeb;
}

/* background img */
.header__background {
  overflow: hidden;
}

.header__background-img {
  position: absolute;
  top: var(--header-info-height);
  width: 100%;
  min-height: 73vh;
  z-index: -2;
  object-fit: cover;
  object-position: center bottom;
  vertical-align: bottom;
  pointer-events: none;
}

.app-container {
  height: 100vh;
}
