.app {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header::before {
  content: "";
  display: block;
  position: fixed;
  height: 0;
  transition: height var(--header-navbar-transition-time) ease;
}

.header.header--scrolled-show-background::before {
  content: "";
  display: block;
  position: fixed;
  top: var(--header-navbar-height);
  left: calc(-1 * (100vw - 100%));
  right: calc(-1 * (100vw - 100%));
  z-index: 1;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.1);
  height: calc(var(--header-search-height) + 32px);
  background: #fff;
}

.header--scrolled-show-background .header__navbar-scrolled {
  box-shadow: none;
}

.header__info {
  text-align: center;
  background-color: var(--text-color);
  height: var(--header-info-height);
}

.header__info-link {
  font-size: 1.4rem;
  color: #a3a3a3;
  line-height: var(--header-info-height);
  font-weight: 500;
}

/*Header navigation bar */
.header__navbar {
  position: absolute;
  top: var(--header-info-height);
  left: 0;
  right: 0;
  z-index: 2;
}

.header__navbar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--header-navbar-height);
}

.header__navbar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 140%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.4;
}

.header__navbar-logo {
  flex: 1;
}

.header__navbar-logo-link-scrolled,
.header__navbar-logo-link-tablet,
.header__navbar-logo-link-tablet-scrolled {
  display: none;
}

.header__navbar-list {
  display: flex;
  flex: 1;
  list-style: none;
  padding-left: 0;
}

.header__navbar-list-middle {
  visibility: visible;
  transform: scale(1);
  transform-origin: top;
  transition: 0.18s;
  transition: var(--header-navbar-transition-time) ease;
}

.header__navbar-list-middle-scrolled--active .header__navbar-mid-item {
  color: var(--text-color);
}

.header__navbar-list-middle-scrolled--active .header__navbar-mid-item::before,
.header__navbar-list-middle-scrolled--active .header__navbar-mid-item::after {
  border-color: var(--text-color);
}

.header__navbar-list-middle-scrolled--active .header__navbar-mid-item:hover {
  color: rgba(0, 0, 0, 0.7);
}

.header__navbar-list-middle--scrolled {
  visibility: hidden;
  transform: scale(0.35);
}

.header__navbar-list--text-right {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-item--hover:hover {
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
}

.header__navbar-scrolled .header__navbar-item--hover:hover {
  height: 42px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 40px;
}

.header__navbar-mid-item,
.header__navbar-right-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 0 16px;
  cursor: pointer;
}

.header__navbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  position: absolute;
  left: 50%;
  padding: 7px 10px;
  border-radius: 48px;
  border: 1px solid #ccc;
  transition: var(--header-navbar-transition-time) ease;
  transform: translate(-50%, 150%) scale(2.8, 1.35);
  opacity: 0;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header__navbar-search:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header__navbar-search.header__navbar-search--scrolled {
  visibility: visible;
  transform: translate(-50%, 0) scale(1, 1);
  opacity: 1;
}

.header__navbar-search-holder {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 128px 0 14px;
}

.header__navbar-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ff385c;
}

.header__navbar-search-btn-icon {
  font-size: 1.2rem;
  color: var(--white-color);
}

/* Transition when hover*/
.header__navbar-mid-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header__navbar-mid-item:hover {
  color: rgba(255, 255, 255, 0.75);
}

.header__navbar-mid-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s ease;
}

.header__navbar-mid-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 50%;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: width 0.1s linear;
}

.header__navbar-mid-item:hover::after {
  width: 2px;
}

.header__navbar-mid-item:hover::before {
  width: 2px;
}

.header__navbar-mid-item.header__navbar-mid-item--active::before,
.header__navbar-mid-item.header__navbar-mid-item--active::after {
  width: 10px;
}

.header__navbar-list--text-center {
  align-items: center;
  justify-content: center;
}

.header__navbar-right-item {
  padding: 0 12px;
}

.header__navbar-right-item:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.header-navbar-menu {
  display: flex;
  align-items: center;
  height: 42px;
  width: 77px;
  background-color: var(--white-color);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s ease;
}

.header__navbar-scrolled .header-navbar-menu:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

i.header-navbar-menu__menu-icon {
  flex: 1;
  color: #717171;
  font-size: 1.6rem;
  text-align: center;
  margin-left: 4px;
}

i.header-navbar-menu__user-icon {
  flex: 1;
  color: #717171;
  font-size: 2.8rem;
  margin-left: 4px;
}

.header__navbar-link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.header-navbar-options {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  z-index: 2;
  background-color: var(--white-color);
  min-width: 240px;
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#header__navbar-right-item-checkbox:checked ~ .header-navbar-options {
  display: block;
}

.header__navbar-right-item-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-navbar-options__auth,
.header-navbar-options__help {
  list-style: none;
  padding-left: 0;
}

.header-navbar-options__auth {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.header-navbar-options__help {
  padding-top: 8px;
}

.header-navbar-options__item {
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 1.4rem;
}

.header-navbar-options__item--bold {
  font-weight: 500;
}

.header-navbar-options__item:hover {
  background-color: #f7f7f7;
}

/* navbar scrolled */
.header__navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: background-color var(--header-navbar-transition-time) ease;
}

.header__navbar-scrolled.header__navbar:before {
  content: "";
  display: none;
}

.header__navbar-scrolled .header__navbar-logo {
  color: black;
}

.header__navbar-scrolled .header__navbar-logo-link-scrolled {
  display: block;
}

.header__navbar-scrolled .header__navbar-logo-link,
.header__navbar-scrolled .header__navbar-logo-link-tablet {
  display: none;
}

.header__navbar-scrolled .header__navbar-right-item {
  color: var(--text-color);
}

.header__navbar-scrolled .header__navbar-link {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.header__navbar-scrolled .header-navbar-menu {
  border: 1px solid #ccc;
}

/* Search */
.header__search {
  display: flex;
  align-items: center;
  visibility: visible;
  position: relative;
  z-index: 1;
  margin: var(--header-navbar-height) auto 0;
  max-width: 100%;
  width: 850px;
  height: var(--header-search-height);
  border: 1px solid #e2e2e2;
  border-radius: 40px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
  background-color: var(--white-color);
  opacity: 1;
  transform-origin: top;
  transform: scale(1) translateY(0);
  transition: transform var(--header-navbar-transition-time) ease,
    opacity 0.08s ease;
}

.header__search.header__search--active {
  background-color: #f7f7f7;
}

.header__search.header__search--scrolled {
  visibility: hidden;
  transform: scale(0.6) translateY(-40%);
  opacity: 0;
}

.header__search.header__search--scrolled-show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: none;
}

.header-search__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 15px 32px;
  flex: 1.55;
  position: relative;
  cursor: pointer;
  min-width: 0;
}

.header-search__location::after,
.header-search__room::after,
.header-search__flexible::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #ddd;
}

.header-search__heading {
  margin: 0;
  padding-bottom: 4px;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-search__input {
  z-index: 1;
  border: none;
  font-size: 1.4rem;
  outline: none;
  padding: 0;
  background-color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Search day number */
.header-search__room {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  z-index: 1;
  position: relative;
  padding: 15px 24px;
  cursor: pointer;
}

.header-search__room.header-search__room--active {
  display: flex;
}

.header-search__room-container {
  z-index: 1;
}

.header-search__desc {
  display: block;
  margin: 0;
  z-index: 1;
  font-size: 1.4rem;
  color: #717171;
}

.header-search__desc.header-search__desc--disable {
  display: none;
}

.header-search__day-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search__duration {
  display: none;
  margin: 0 0 0 7px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 300;
}

.header-search__duration.header-search__duration--active {
  display: block;
}

.header-search__checkIn,
.header-search__checkOut {
  display: none;
  margin: 0;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-search__checkIn.header-search__checkIn--active,
.header-search__checkOut.header-search__checkOut--active {
  display: block;
}

.header-search__room-close {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  z-index: 1;
  background-color: #ebebeb;
  border-radius: 50%;
  margin-left: 4px;
}

.header-search__room-close:hover {
  background-color: #ddd;
}

.header-search__room-close.header-search__room-close--active {
  display: flex;
}

.header-search__room-close-icon {
  font-size: 1.4rem;
}

/* Search customer number */
.header-search__customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1.5;
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.header-search__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 128px;
  min-width: 0;
  padding-right: 0px;
  z-index: 1;
}

.header-search__date {
  display: none;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  padding-right: 0px;
  z-index: 1;
}

.header-search__customer.header-search__customer-exp--active
  .header-search__person {
  display: none;
}

.header-search__customer.header-search__customer-exp--active
  .header-search__date {
  display: flex;
}

.header-search__person-container {
  min-width: 98px;
  max-width: 100%;
}

.header-search__person-number {
  display: block;
  margin: 0;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-search__person-number.header-search__person-number--disable {
  display: none;
}

.header-search__person-icon-container,
.header-search__person-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #ebebeb;
  border-radius: 50%;
  margin-left: 4px;
}

.header-search__person-icon-container.header-search__person-icon-container--active {
  display: flex;
}

.header-search__person-icon-container:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.header-search__person-icon {
  font-size: 1.4rem;
}

.header-search__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.header-search__item.header-search__item--no-border::after {
  display: none;
}

.header-search__item.header-search__item--active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.header-search__item:first-child.header-search__item--active::before {
  content: "";
  display: block;
  --border-width: 2px;
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  right: 0;
  height: 100%;
  border-radius: 40px;
  background-color: var(--white-color);
  z-index: 1;
  border: var(--border-width) solid var(--black-color);
  pointer-events: none;
}

.header-search__btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 9px 9px 9px 12px;
  border-radius: 48px;
  overflow: hidden;
  background: #ff385c;
}

.header-search__btn--active .header-search__color {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  background-image: radial-gradient(
    rgba(255, 56, 92, 0.6),
    rgba(255, 56, 92, 0),
    rgba(255, 56, 92, 0)
  );
  border-radius: 50%;
}

.header-search__btn-icon i {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white-color);
}

.header-search__btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #ff385c;
  transition: all 0.2s ease;
}

.header-search__btn-label {
  height: 48px;
  width: 8px;
  line-height: 48px;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  margin-left: -8px;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  transition: width 0.1s ease-in 0.02s, opacity 0.1s ease-in 0.02s;
  will-change: width, opacity;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.header-search__btn-icon:hover {
  background: #e51e50 !important;
}

.header-search__btn--active .header-search__btn-icon:hover {
  background: unset !important;
}

.header-search__btn.header-search__btn--active {
  background-image: linear-gradient(to left, #da0965, #e51e50);
  background-color: transparent;
}

.header-search__btn.header-search__btn--active .header-search__btn-label {
  width: 64px; /* because negative margin */
  opacity: 1;
  margin-right: 8px;
}

/* header search panel*/
.search-panel__location {
  display: none;
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  left: 0;
  padding: 30px 0;
  width: var(--header-search-panel-location-width);
  background: var(--white-color);
  border-radius: 32px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.search-panel__location.search-panel__location--active {
  display: block;
}

.search-panel__location-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px 32px 10px;
  margin: 0;
}

.search-panel__location-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 32px 0;
  padding: 0 24px;
  border-radius: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}

.search-panel__location-btn:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.search-panel__location-btn-heading {
  margin: 0;
  padding: 21px 0;
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(to right, #6f019c, #8a0193);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-panel__location-btn-video {
  height: 28px;
}

.search-panel__location-flex {
  display: none;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
}

.search-panel__location-flex:hover {
  background: #f7f7f7;
}

.search-panel__location-flex-img {
  height: 48px;
  padding-left: 32px;
}

.search-panel__location-flex-text {
  margin-left: 18px;
  font-size: 1.6rem;
  padding-right: 32px;
}

.search-panel__location.search-panel__location-flex--active
  .search-panel__location-main {
  display: none;
}

.search-panel__location.search-panel__location-flex--active
  .search-panel__location-flex {
  display: flex;
}

/* header search panel calendar*/
.search-panel-calendar {
  display: none;
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  left: 0;
  right: 0;
  background-color: var(--white-color);
  padding: 32px 58px;
  border-radius: 32px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.search-panel-calendar.search-panel-calendar--active {
  display: block;
}

.search-panel-calendar.search-panel-calendar-exp--active {
  display: block;
}

.search-panel-calendar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  font-size: 1.4rem;
}

.search-panel-calendar__header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  border-radius: 28px;
  flex-shrink: 0;
}

.search-panel-calendar__header-content {
  margin: 4px 4px;
  padding: 6px 14px;
  border: none;
  border-radius: 28px;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.08s ease;
}

.search-panel-calendar__header-content:active {
  transform: scale(0.96);
}

.search-panel-calendar__header-content:first-child {
  margin: 4px 2px 4px 4px;
}

.search-panel-calendar__header-content:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.search-panel-calendar__header-content.search-panel-calendar__header-content--active {
  background-color: var(--white-color);
  cursor: default;
}

.search-panel-calendar__normal {
  display: none;
}

.search-panel-calendar__normal.search-panel-calendar__normal--active {
  display: block;
}

.search-panel-calendar__body {
  position: relative;
  margin-top: 24px;
}

.search-panel-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  transform: translateY(-23%);
}

.search-panel-calendar__navigation-container-previous,
.search-panel-calendar__navigation-container-next {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.search-panel-calendar__navigation-container-previous:hover,
.search-panel-calendar__navigation-container-next:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.search-panel-calendar__navigation-icon {
  font-size: 1.2rem;
}

.search-panel-calendar__heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 15px;
}

.search-panel-calendar__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.search-panel-calendar__item {
  flex: 0 0 48px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #717171;
  text-align: center;
}

.search-panel-calendar__days,
.search-panel-calendar__days-next {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-panel-calendar__days-empty {
  flex: 0 0 48px;
  height: 47px;
  cursor: default;
}

div.search-panel-calendar__days-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
  height: 47px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}
.search-panel-calendar__days-data.search-panel-calendar__days-data--active-second,
.search-panel-calendar__days-data.search-panel-calendar__days-data--active {
  background-color: var(--text-color);
  color: var(--white-color);
}

.search-panel-calendar__days-data:hover {
  border: 1px solid var(--text-color);
}

.search-panel-calendar__days-data.search-panel-calendar__days-data--disabled {
  color: #dadada;
  border: none;
  cursor: default;
}

.search-panel-calendar__footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 22px 0 0;
}

.search-panel-calendar__footer-item {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 9px 16px;
  border: 1px solid #c2c2c2;
  border-radius: 36px;
  margin-right: 8px;
}

.search-panel-calendar__footer-item.search-panel-calendar__footer-item--active {
  border: 2px solid var(--text-color);
  padding: 8px 15px;
  background-color: #f7f7f7;
}

.search-panel-calendar__footer-item:hover {
  border-color: var(--black-color);
  cursor: pointer;
}

.search-panel-calendar-flexible {
  display: none;
}

.search-panel-calendar-flexible.search-panel-calendar-flexible--active {
  display: block;
}

.search-panel-calendar-flexible__lengths-heading,
.search-panel-calendar-flexible__dates-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin: -6px 0 0;
  color: #717171;
}

.search-panel-calendar-flexible__lengths-option,
.search-panel-calendar-flexible__dates-option {
  margin-left: 4px;
  font-weight: 600;
  color: var(--text-color);
}

.search-panel-calendar-flexible__lengths-option {
  text-transform: lowercase;
}

.search-panel-calendar-flexible__dates-heading {
  padding: 18px 0 14px;
}

.search-panel-calendar-flexible__dates-option {
  margin-top: 0;
  margin-bottom: 0;
}

.search-panel-calendar-flexible__lengths-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 6px;
  margin-bottom: 20px;
}

.search-panel-calendar-flexible__lengths-item {
  border: 1px solid #c2c2c2;
  margin-right: 8px;
  padding: 9px 18px;
  border-radius: 36px;
  font-size: 1.4rem;
  cursor: pointer;
}

.search-panel-calendar-flexible__lengths-item:hover {
  border-color: var(--text-color);
}

.search-panel-calendar-flexible__lengths-item.search-panel-calendar-flexible__lengths-item--active {
  border: 2px solid var(--text-color);
  padding: 8px 17px;
  background-color: #f7f7f7;
}

.search-panel-calendar-flexible__dates-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.search-panel-calendar-flexible__dates-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 122px;
  margin: auto;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  cursor: pointer;
}

.search-panel-calendar-flexible__dates-item:hover {
  border-color: var(--text-color);
}

.search-panel-calendar-flexible__dates-item.search-panel-calendar-flexible__dates-item--active {
  border: 2px solid var(--text-color);
  padding: 8px 17px;
  background-color: #f7f7f7;
}

i.search-panel-calendar-flexible__dates-icon {
  display: block;
  font-size: 3.2rem;
  color: #717171;
}

i.search-panel-calendar-flexible__dates-icon-check {
  display: none;
  font-size: 3.2rem;
}

.search-panel-calendar-flexible__dates-item--active
  i.search-panel-calendar-flexible__dates-icon-check {
  display: block;
}

.search-panel-calendar-flexible__dates-item--active
  i.search-panel-calendar-flexible__dates-icon {
  display: none;
}

.search-panel-calendar-flexible__dates-title {
  margin-top: 14px;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 300;
}

.header-search__flexible {
  display: none;
  flex: 2;
  position: relative;
  z-index: 1;
  padding: 15px 24px;
  cursor: pointer;
}

.header-search__flexible.header-search__flexible--active {
  display: block;
}

.header-search__flexible-heading {
  position: inherit;
}

.search-panel-calendar.search-panel-calendar-exp--active
  .search-panel-calendar__header,
.search-panel-calendar.search-panel-calendar-exp--active
  .search-panel-calendar__footer {
  display: none;
}

.header-search__flexible-info {
  position: inherit;
  z-index: 1;
  margin: 0;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
}

/* header search panel customer */
.search-panel-customer {
  display: none;
  background-color: var(--white-color);
  position: absolute;
  top: calc(var(--header-search-height) + 12px);
  right: 0;
  width: 394px;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateX(50%);
  opacity: 0;
  transition: transform 0.1s linear, opacity 0.1s linear;
}

.search-panel-customer.search-panel-customer--active {
  display: block;
}

.search-panel-customer__adult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;
}

.search-panel-customer__kid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0;
}

.search-panel-customer__child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.search-panel-customer__heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 4px;
}

.search-panel-customer__desc {
  color: #717171;
  font-size: 1.4rem;
}

.search-panel-customer__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
}

.search-panel-customer__minus-icon {
  font-size: 1.2rem;
  color: #717171;
}

.search-panel-customer__num {
  font-size: 1.6rem;
  color: var(--text-color);
}

.search-panel-customer__minus,
.search-panel-customer__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
}

.search-panel-customer__minus:hover,
.search-panel-customer__plus:hover {
  border-color: var(--text-color);
}

.search-panel-customer__plus-icon {
  font-size: 1.2rem;
  color: #717171;
}

.search-panel-customer__plus:hover .search-panel-customer__plus-icon,
.search-panel-customer__minus:hover .search-panel-customer__minus-icon {
  color: var(--text-color);
}

.search-panel-customer__plus.search-panel-customer__btn--disable,
.search-panel-customer__minus.search-panel-customer__btn--disable {
  cursor: not-allowed;
  color: #ebebeb;
  border: 1px solid #ebebeb;
}

.search-panel-customer__plus.search-panel-customer__btn--disable
  .search-panel-customer__plus-icon,
.search-panel-customer__minus.search-panel-customer__btn--disable
  .search-panel-customer__minus-icon {
  color: #ebebeb;
}

/* Content */
/*content background img */
.header__background {
  overflow: hidden;
}

.header__background-img {
  position: absolute;
  top: var(--header-info-height);
  width: 100%;
  min-height: 73vh;
  z-index: -2;
  object-fit: cover;
  object-position: center bottom;
  vertical-align: bottom;
  pointer-events: none;
}

/*content suggestion */
.suggestion {
  position: relative;
  top: 0;
  width: 100%;
  height: 65vh;
  z-index: 0;
  padding-bottom: 6%;
  margin-top: calc(
    var(--header-info-height) + var(--header-navbar-height) +
      var(--header-search-height)
  );
  box-sizing: content-box;
}

.suggestion__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.suggestion__question {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--text-color);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.suggestion__btn {
  background-color: #fff;
  padding: 18px 36px;
  border-radius: 52px;
  font-weight: 500;
  font-size: 1.8rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  transition: transform 0.1s ease;
}

.suggestion__btn:active {
  transform: scale(0.95);
}

.suggestion__btn-text {
  background-image: linear-gradient(to right, #6f019c, #8a0193);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Trip Category & Live Anywhere */
.trip-category {
  position: relative;
  margin-bottom: 96px;
}

.trip-category__heading-container,
.live-anywhere__heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trip-category__heading,
.live-anywhere__heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mobile-trip-category-navigation,
.mobile-live-anywhere-navigation {
  color: #f1f1f1;
  flex-shrink: 0;
}

.mobile-trip-category-navigation__prev,
.mobile-trip-category-navigation__next,
.mobile-live-anywhere-navigation__prev,
.mobile-live-anywhere-navigation__next {
  display: none;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  cursor: default;
}

.mobile-trip-category-navigation__prev--active,
.mobile-trip-category-navigation__next--active,
.mobile-live-anywhere-navigation__next--active,
.mobile-live-anywhere-navigation__prev--active {
  border-color: #e9e9e9;
  cursor: pointer;
}

.mobile-trip-category-navigation__prev--active
  .mobile-trip-category-navigation__icon,
.mobile-trip-category-navigation__next--active
  .mobile-trip-category-navigation__icon,
.mobile-live-anywhere-navigation__prev--active
  .mobile-live-anywhere-navigation__icon,
.mobile-live-anywhere-navigation__next--active
  .mobile-live-anywhere-navigation__icon {
  color: var(--text-color);
}

.mobile-trip-category-navigation__next,
.mobile-live-anywhere-navigation__next {
  margin-left: 6px;
}

.mobile-trip-category-navigation__icon,
.mobile-live-anywhere-navigation__icon {
  font-size: 1.2rem;
}

.trip-item-container:nth-of-type(4n + 1) .trip-item__content {
  background: #bc1a6e;
}

.trip-item-container:nth-of-type(4n + 2) .trip-item__content {
  background: #cc2d4a;
}

.trip-item-container:nth-of-type(4n + 3) .trip-item__content {
  background: #d93b30;
}

.trip-item-container:nth-of-type(4n + 4) .trip-item__content {
  background: #de3151;
}

.trip-item {
  display: block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: transparent;
  transition: transform 0.16s linear;
  position: relative;
}

.trip-item:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.trip-item__img {
  display: block;
  box-sizing: border-box;
  height: 14.5vw;
  width: 100%;
}

.trip-item__content {
  box-sizing: border-box;
  height: 14.5vw;
  width: 100%;
  padding: 24px 16px 16px;
  background: #cc2d4a;
  color: var(--white-color);
}

.trip-item__heading {
  margin: 0 0 26px;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.trip-item__desc {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
}

.live-anywhere__heading {
  margin: 0 0 48px;
}

.live-anywhere__item {
  margin-bottom: 96px;
  cursor: pointer;
}

.live-anywhere__img {
  width: 100%;
  border-radius: 10px;
}

.live-anywhere__title {
  font-size: 2.4rem;
  margin-top: 16px;
}

/* content gift card */
.gift-card {
  position: relative;
  border-radius: 12px;
  margin-bottom: 48px;
}

.gift-card__content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 195px;
}

.gift-card__introduce {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin: 0 0 12px;
}

.gift-card__desc {
  font-size: 9.5rem;
  line-height: 9.5rem;
  font-weight: 500;
  margin: 0 0 24px;
}

.gift-card__btn {
  display: inline-block;
  padding: 16px 26px;
  border-radius: 8px;
  background-color: var(--black-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white-color);
  opacity: 0.88;
}

.gift-card__btn:hover {
  opacity: 1;
}

.gift-card__img {
  position: relative;
  z-index: -2;
  width: 100%;
  border-radius: 12px;
  user-select: none;
}

/* Experiences */
.discover-experiences {
  margin-bottom: 96px;
}

.discover-experiences__item {
  position: relative;
  border-radius: 12px;
}

.discover-experiences__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 40%;
  bottom: 0;
  padding: 80px 80px;
}

.discover-experiences__desc {
  color: var(--white-color);
  font-size: 5.3rem;
  line-height: 5.3rem;
  font-weight: 500;
}

.discover-experiences__btn {
  background: var(--white-color);
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 16px 27px;
  border-radius: 8px;
}

.discover-experiences__btn:hover,
.question-hosting__btn:hover {
  background: #ebebeb;
}

.discover-experiences__img {
  position: relative;
  z-index: -2;
  width: 100%;
  border-radius: 12px;
  user-select: none;
}

/* content question */
.question-hosting {
  position: relative;
  border-radius: 12px;
  margin-bottom: 96px;
}

.question-hosting__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 60%;
  bottom: 0;
  padding: 80px 80px;
}

.question-hosting__heading {
  font-size: 9.5rem;
  line-height: 9.5rem;
  color: var(--white-color);
  font-weight: 500;
  margin: 0;
}

.question-hosting__btn {
  display: inline-block;
  max-width: 170px;
  padding: 16px 12px;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 8px;
  color: var(--text-color);
  background: var(--white-color);
}

.question-hosting__img {
  position: relative;
  z-index: -2;
  width: 100%;
  border-radius: 12px;
  user-select: none;
}

/* content future gateways */
.future-gateways {
  margin-bottom: 32px;
}

.future-gateways__heading {
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--text-color);
}

.future-gateways__list {
  display: flex;
  position: relative;
  list-style: none;
  border-bottom: 1px solid #dedede;
  padding-left: 0;
  margin: 14px 0;
}

.future-gateways__list .future-gateways__line {
  display: block;
  position: absolute;
  left: 10px;
  top: calc(100% - 2px);
  width: 100px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: all 0.16s ease;
}

.future-gateways__item {
  --margin-bottom-width: 6px;
  --padding-size: 10px;
  position: relative;
  padding: var(--padding-size);
  margin-bottom: var(--margin-bottom-width);
  color: #717171;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  transform: scale(1);
  transition: 0.16s;
}

.future-gateways__item.future-gateways__item--active {
  color: var(--text-color);
  cursor: default;
}

.future-gateways__item:active {
  transform: scale(0.92);
}

.future-gateways__item.future-gateways__item--active:active {
  transform: none;
}

.future-gateways__item:first-child {
  margin-left: -10px;
}

.future-gateways__item + .future-gateways__item {
  margin-left: 6px;
}

.future-gateways__item:hover {
  background: #f7f7f7;
  border-radius: 8px;
}

.future-gateways__destinations {
  padding-left: 0;
  list-style: none;
}

.future-gateways__place {
  margin-bottom: 32px;
}

.future-gateways__link {
  text-decoration: none;
}

.future-gateways__place-name,
.future-gateways__place-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #262626;
}

.future-gateways__place-desc {
  color: #949494;
  font-weight: 300;
}

.future-gateways__place-more {
  font-size: 1.4rem;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  color: #262626;
}

/* footer */
.footer {
  background-color: #f7f7f7;
}

.footer__info {
  padding-bottom: 48px;
}

.footer__heading {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--text-color);
  margin-top: 48px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 18px;
}

.footer__item-link:hover {
  text-decoration: underline;
}

.footer__policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 24px 0;
}

.footer__rights {
  display: inline-flex;
}

.footer__rights-year {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__rights-year-icon {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 6px;
  margin-top: 1px;
}

.footer__rights-list {
  display: flex;
  align-items: center;
}

.footer__rights-item {
  position: relative;
  margin-left: 19px;
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__rights-item-link,
.footer__utilities-social-link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.footer__rights-item-link:hover {
  text-decoration: underline;
}

.footer__rights-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background: var(--text-color);
}

.footer__powered {
  font-size: 1.2rem;
}

.footer__utilities {
  display: flex;
  align-items: center;
}

.footer__utilities-language,
.footer__utilities-money {
  margin-right: 24px;
  cursor: pointer;
}

.footer__utilities-language-icon,
.footer__utilities-money-icon {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 5px;
}

.footer__utilities-language-text,
.footer__utilities-money-text {
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__utilities-social {
  margin-left: 10px;
}

.footer__utilities-social-link {
  margin-left: 22px;
}

.footer__utilities-social-icon {
  font-size: 1.8rem;
}
