@media (max-width: 1023px) {
  .tablet-trip-container, .live-anywhere__item-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .tablet-trip-container::-webkit-scrollbar, .live-anywhere__item-container::-webkit-scrollbar {
    display: none;
  }

  .live-anywhere__item { 
    margin-bottom: 80px;
  }

  .gift-card {
    margin-bottom: 56px;
  }

  .gift-card__introduce {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .grid.wide.question-hosting-container {
    width: 100%;
  }

  .question-hosting, .question-hosting__img {
    border-radius: 0;
  }

  .future-gateways__list {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  }

  .future-gateways__list::-webkit-scrollbar {
    display: none;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__navbar-list-middle {
    position: absolute;
    top: var(--header-navbar-height);
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  .header__navbar-list-middle.header__navbar-list-middle--scrolled {
    visibility: hidden;
    transform: translate(-50%, -100%) scale(0.35);
    transform-origin: top left;
  }

  .header__search {
    margin-top: calc(2 * var(--header-navbar-height) - 12px);
  }

  .header__navbar-logo-link-scrolled,
  .header__navbar-logo-link,
  .header__navbar-scrolled .header__navbar-logo-link-scrolled {
    display: none;
  }

  .header__navbar-logo-link-tablet,
  .header__navbar-scrolled .header__navbar-logo-link-tablet-scrolled {
    display: block;
  }

  .header__navbar-search {
    visibility: hidden;
    left: 8%;
    transform: translate(44%, calc(150% + var(--header-navbar-height)))
      scale(2.2, 1.35);
  }

  .header__navbar-search.header__navbar-search--scrolled {
    visibility: visible;
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }

  .header-search__location {
    flex: 1;
  }

  .search-panel-calendar {
    right: 30%;
    padding: 16px 32px;
  }

  .header-search__flexible--active ~ .search-panel-calendar {
    left: -2%;
    right: -2%;
  }

  .search-panel-calendar-flexible__dates-item {
    width: 100px;
  }

  .search-panel-calendar__container:last-child {
    display: none;
  }

  .search-panel-calendar__container {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }

  .suggestion {
    height: 60vh;
  }

  /* trip category */
  .trip-category {
    margin-bottom: 56px;
  }

  .trip-item__img,
  .trip-item__content {
    height: 21.3vw;
  }

  .content-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 24px 0;
  }

  .trip-item:hover {
    transform: unset;
    box-shadow: unset;
  }

  .trip-item__heading {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .trip-item__desc {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .mobile-trip-category-navigation__prev,
  .mobile-trip-category-navigation__next,
  .mobile-live-anywhere-navigation__prev,
  .mobile-live-anywhere-navigation__next {
    display: inline-flex;
  }

  .tablet-trip-container, .live-anywhere__item-container {
    --tablet-wide-content: 688px; /* wide content in tablet */
    margin-right: calc(-1 * (100vw - var(--tablet-wide-content)) / 2);
    margin-left: calc(-1 * (100vw - var(--tablet-wide-content)) / 2);
    padding-right: 32px;
    padding-left: 32px;
    box-sizing: content-box;
  }

  /* Live Anywhere */
  .live-anywhere__item-container {
    flex-wrap: nowrap;
  }

  .live-anywhere__title {
    font-size: 2.3rem;
  }

  .gift-card__content {
    padding: 0 56px;
  }

  .gift-card__desc {
    font-size: 4.9rem;
    line-height: 4.9rem;
  }

  .discover-experiences {
    margin-bottom: 40px;
  }

  .discover-experiences__content {
    padding: 24px 24px;
    right: 20%;
  }

  .discover-experiences__desc {
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin: 0 0 24px;
  }

  .discover-experiences__btn {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .question-hosting__heading {
    font-size: 4.9rem;
    line-height: 4.9rem;
  }

  .question-hosting__content {
    padding: 40px 40px;
  }
}

/* Mobile */
@media (max-width: 739px) {
}

/* Background image */
@media (min-width: 1440px) {
  .header__background-img {
    height: 85vh;
  }
}
