@media (max-width: 1023px) {
  .tablet-trip-container,
  .live-anywhere__item-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .content-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 24px 0;
  }

  .tablet-trip-container::-webkit-scrollbar,
  .live-anywhere__item-container::-webkit-scrollbar {
    display: none;
  }

  .live-anywhere__item {
    margin-bottom: 80px;
  }

  .gift-card {
    margin-bottom: 56px;
  }

  .gift-card__introduce {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .discover-experiences__desc {
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin: 0 0 24px;
  }

  .grid.wide.question-hosting-container {
    width: 100%;
  }

  .mobile-trip-category-navigation__prev,
  .mobile-trip-category-navigation__next,
  .mobile-live-anywhere-navigation__prev,
  .mobile-live-anywhere-navigation__next {
    display: inline-flex;
  }

  .question-hosting,
  .question-hosting__img {
    border-radius: 0;
  }

  .future-gateways__item:active {
    transform: none;
  }

  .mobile-future-gateways__navigation-prev.mobile-future-gateways__navigation-prev--active,
  .mobile-future-gateways__navigation-next.mobile-future-gateways__navigation-next--active {
    display: flex;
  }

  .footer__heading {
    margin-top: 30px;
  }

  .mobile-footer__info-wrapper {
    border-bottom: 2px solid #eaeaea;
  }

  .mobile-footer__info-wrapper:last-child {
    border-color: transparent;
  }

  .footer__item-link {
    font-weight: 400;
  }

  .footer__policy {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .footer__rights,
  .footer__powered,
  .footer__utilities {
    margin-bottom: 12px;
  }

  .footer__rights {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__rights-year,
  .footer__rights-item-link,
  .footer__powered,
  .footer__utilities-language-text,
  .footer__utilities-money-text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__navbar-list-middle {
    position: absolute;
    top: var(--header-navbar-height);
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  .header__navbar-list-middle.header__navbar-list-middle--scrolled {
    visibility: hidden;
    transform: translate(-50%, -100%) scale(0.35);
    transform-origin: top left;
  }

  .header__search {
    margin-top: calc(2 * var(--header-navbar-height) - 12px);
  }

  .header__navbar-logo-link-scrolled,
  .header__navbar-logo-link,
  .header__navbar-scrolled .header__navbar-logo-link-scrolled {
    display: none;
  }

  .header__navbar-logo-link-tablet,
  .header__navbar-scrolled .header__navbar-logo-link-tablet-scrolled {
    display: block;
  }

  .header__navbar-search {
    visibility: hidden;
    left: 8%;
    transform: translate(44%, calc(150% + var(--header-navbar-height)))
      scale(2.2, 1.35);
  }

  .header__navbar-search.header__navbar-search--scrolled {
    visibility: visible;
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }

  .header-search__location {
    flex: 1;
  }

  .search-panel-calendar {
    right: 30%;
    padding: 16px 32px;
  }

  .header-search__flexible--active ~ .search-panel-calendar {
    left: -2%;
    right: -2%;
  }

  .search-panel-calendar-flexible__dates-item {
    width: 100px;
  }

  .search-panel-calendar__container:last-child {
    display: none;
  }

  .search-panel-calendar__container {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }

  .suggestion {
    height: 60vh;
  }

  /* trip category */
  .trip-category {
    margin-bottom: 56px;
  }

  .trip-item__img,
  .trip-item__content {
    height: 21.3vw;
  }

  .trip-item:hover {
    transform: unset;
    box-shadow: unset;
  }

  .trip-item__heading {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .trip-item__desc {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .row.lrg-gutter.tablet-trip-container,
  .row.lrg-gutter.live-anywhere__item-container {
    margin-right: calc(-1 * (100vw - var(--tablet-content-lrg-width)) / 2);
    margin-left: calc(-1 * (100vw - var(--tablet-content-lrg-width)) / 2);
    padding-right: 32px;
    padding-left: 32px;
    box-sizing: content-box;
  }

  /* Live Anywhere */
  .live-anywhere__item-container {
    flex-wrap: nowrap;
  }

  .live-anywhere__title {
    font-size: 2.3rem;
  }

  .gift-card__content {
    padding: 0 56px;
  }

  .gift-card__desc {
    font-size: 4.9rem;
    line-height: 4.9rem;
  }

  .discover-experiences {
    margin-bottom: 40px;
  }

  .discover-experiences__content {
    padding: 24px 24px;
    right: 20%;
  }

  .discover-experiences__btn {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .question-hosting__heading {
    font-size: 4.9rem;
    line-height: 4.9rem;
  }

  .question-hosting__content {
    padding: 40px 40px;
  }

  .future-gateways__list-container {
    margin-left: calc(-1 * (100vw - var(--tablet-content-lrg-width)) / 4);
    margin-right: calc(-1 * (100vw - var(--tablet-content-lrg-width)) / 4);
  }

  .future-gateways__list {
    margin-left: calc(1 * (100vw - var(--tablet-content-lrg-width)) / 4);
    margin-right: calc(1 * (100vw - var(--tablet-content-lrg-width)) / 4);
    overflow-x: scroll;
  }

  .footer__info {
    padding: 10px 0 40px;
  }

  .header.header--scrolled-show-background::before {
    height: calc(
      var(--header-search-height) + var(--header-navbar-height) + 24px
    );
    background: #fff;
  }

  /* flexible page */
  .flexible-menu-category__item:nth-child(n + 3) {
    display: none;
  }

  .flexible-menu-category__item:last-child {
    display: block;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .header__info,
  .header__navbar,
  .header__search {
    display: none;
  }

  .header__background-img {
    top: 0;
  }

  .header-mobile__search {
    display: flex;
  }

  .header__background-img {
    min-height: 90vh;
  }

  .header-mobile__navbar {
    display: flex;
  }

  .header__background-img {
    height: calc(100vh - var(--mobile-bottom-navbar-height));
  }

  .suggestion {
    margin-top: calc(var(--header-mobile-search-height) * 2);
    padding-bottom: 32px;
    height: 73vh;
  }

  .suggestion__wrapper {
    padding: 0;
  }

  .suggestion__question {
    font-size: 2.8rem;
    line-height: 3.1rem;
    font-weight: 500;
  }
  .trip-category,
  .gift-card {
    margin-bottom: 40px;
  }

  .trip-category__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 52vw;
    margin: 0 0 32px;
  }

  .trip-category__heading-container {
    align-items: flex-start;
    margin-top: 32px;
  }

  .trip-item__img,
  .trip-item__content {
    height: 33.7vw;
  }

  .trip-item__heading,
  .live-anywhere__title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .trip-item__desc {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .row.tablet-trip-container,
  .row.live-anywhere__item-container {
    margin-right: calc(-1 * (var(--mobile-total-content-margin) / 2));
    margin-left: calc(-1 * (var(--mobile-total-content-margin) / 2));
    padding-right: 32px;
    padding-left: 32px;
    box-sizing: content-box;
  }

  .live-anywhere__item {
    margin-bottom: 64px;
  }

  .gift-card__content {
    top: 76%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 32px 32px;
  }

  .gift-card__desc,
  .question-hosting__heading {
    font-size: 4.3rem;
    line-height: 4.3rem;
  }

  .discover-experiences__content,
  .question-hosting__content {
    right: 25%;
    padding: 32px 32px;
  }

  .discover-experiences__item:first-child {
    margin-bottom: 12px;
  }

  .question-hosting {
    margin-bottom: 32px;
  }

  .future-gateways__list-container {
    margin-left: calc(-1 * (var(--mobile-total-content-margin)) / 2);
    margin-right: calc(-1 * (var(--mobile-total-content-margin)) / 2);
  }

  .future-gateways__list {
    margin-left: calc(1 * (var(--mobile-total-content-margin)) / 2);
    margin-right: calc(1 * (var(--mobile-total-content-margin)) / 2);
    overflow-x: scroll;
  }

  .future-gateways__heading {
    line-height: 2.6rem;
    margin-bottom: 8px;
  }

  .footer__policy,
  .footer__rights {
    align-items: flex-start;
  }

  .footer__utilities-social {
    display: none;
  }

  .footer__rights-item:first-child {
    margin-left: 0;
  }

  .footer__rights-item:first-child::before {
    display: none;
  }

  .mobile-wishlists.mobile-wishlists--active {
    display: block;
  }

  /* Modal in mobile */
  .modal-wrapper {
    height: calc(100vh - var(--mobile-bottom-navbar-height));
  }

  .modal-overlay {
    display: none;
  }

  .auth-modal {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: none;
    border-radius: 0;
    animation: none;
  }

  .auth-modal__close {
    display: none;
  }

  .auth-modal__container {
    padding: 32px 32px 8px;
  }

  .auth-modal__method-item {
    padding: 15px 12px;
  }

  /* Flexible html page */
  /* flexible htm page mobile header */
  .mobile-flexible-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    background-color: var(--white-color);
    padding-bottom: 18px;
  }

  .flexible-app {
    margin-top: 0;
  }

  .flexible-menu {
    padding-top: 4px;
  }

  .flexible-menu-category {
    position: fixed;
    top: calc(65px + 16px);
    left: 0;
    right: 0;
    z-index: 8;
    overflow-x: auto;
    margin-left: -32px;
    margin-right: -32px;
    padding: 0 64px;
    background-color: var(--white-color);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);
  }

  .flexible-menu-category::-webkit-scrollbar {
    display: none;
  }

  .flexible-menu-filter {
    display: none;
  }

  .flexible-menu-category__line {
    left: 64px;
  }

  .flexible-list {
    margin-top: 130px;
  }

  .flexible-show-map {
    top: 82vh;
    font-size: 1.2rem;
    padding: 12px;
  }
}

@media (min-width: 1040px) and (max-width: 1239px) {
  .header__background-img {
    height: 80vh;
  }

  /* flexible page */
  .flexible-menu-category__item:nth-child(n + 6) {
    display: none;
  }

  .flexible-menu-category__item:last-child {
    display: block;
  }
}

@media (min-width: 1240px) and (max-width: 1727px) {
  .header__background-img {
    height: 80vh;
  }

  /* flexible page */
  .flexible-menu-category__item:nth-child(3n + 2) {
    display: none;
  }
}

/* Background image in PC high resolution*/
@media (min-width: 1440px) {
  .header__background-img {
    height: 85vh;
  }
}
